RStudio.png
/Titanic/.ipynb_checkpoints
/SFcrime
/Otto
/LEAP project
/hrc_emails
/cooking
__pycache__
cmd_shortcut_generic.lnk
/Titanic/cmd_shortcut_generic.lnk
lib_preproc.py
main.py
Testing.ipynb
wine_data.csv